
@import "@material/rtl/mixins";
@import "@material/theme/variables";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";

.mdc-autocomplete {

    &__span {
        @include mdc-typography-base;
        @each $prop in (font-size, letter-spacing) {
            #{$prop}: map-get(map-get($mdc-typography-styles, subheading2), $prop);
        };

        position: absolute;
        bottom: 8px;
        left: 0;
        transform-origin: left top;

        @include mdc-theme-prop(color, text-hint-on-light); 
        @include mdc-theme-dark {
            @include mdc-theme-prop(color, text-hint-on-dark);
        }
        @include mdc-rtl {
            right: 0;
            left: auto;
            transform-origin: right top;
        }
    }
  }