
.mdc-autocomplete {
    // ...
  
    &__span {
        color: rgba(0, 0, 0, 0.38);
        color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38));
        position: absolute;
        bottom: 8px;
        left: 0;
        font-size: 1rem;
        letter-spacing: 0.04em;
    }
  }